
  section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol,
  ul {
    list-style: none;
  }
  blockquote,
  q {
    quotes: none;
  }
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: '';
    content: none;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  * {
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
  }
  html,
  body {
    font-family: 'Roboto', sans-serif;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5 {
      font-family: 'Indie Flower', cursive;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3.2rem;
    padding-bottom: 10px;
    padding-left: 20px;
  }
  h4 {
    font-size: 2.5rem;
    padding-bottom: 10px;
  }
  p {
    line-height: 1.5;
    font-size: 1.6rem;
    padding-bottom: 10px;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  .container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
  }
  @media(max-width: 500px){
      .container{
          width: 90%;
          margin: 0 5%;
      }
  }

  @media(max-width:500px){
      .slideshow-container{
          width: 90%;
          margin:0 5%;
         
      }
  }
  
  .main-navigation{
      width: 100%;
      height: 90px;
      background: #FFFFFF;  
      display: flex;
  }



  .main-navigation .nav-container{
      height:100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }


  
  @media (max-width: 500px) {
    .main-navigation .nav-container {
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 10px;
    }
  }
@media (max-width: 500px) {
    .main-navigation .nav-container .logo-heading {
      font-size: 3rem;
    }
  }
/*.main-navigation .nav-container .nav {
    width: 350px;
    display: flex;
    justify-content: space-evenly;
  }*/
  
  @media (max-width: 500px) {
    .main-navigation .nav-container .nav {
      width: 100%;
      justify-content: space-around;
    }
  }
.main-navigation .nav-container .nav a {
    font-size: 1.6rem;
    color: #212529;
    text-decoration: none;
  }

  /*.footer {
    width: 100%;
    border-top: 2px solid #C0C0C0;
    background: #4abdac;
  }*/

  /*nav {
    width: 100%;
    background: #4abdac;
  }*/

  .footer p {
    text-align: center;
    color: #212529;
    font-size: 1.6rem;
    padding: 20px;
  }

  .main-navigation .nav-container{
      width: 100%;
      border-top: 2px solid #C0C0C0;
      background: #4abdac;
  }




/*.home .intro{
    padding: 50px 0 10px;
    border-bottom: 2px solid #FC4A1A;
}
.home .intro img{
    max-width: 50%;
    height: 50%;
}

/*.home .intro h2{
    margin-top: 20px;
}
.home .content-section{
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.home .content-section .text-content{
    width: 48%;
    padding-right: 1%;
}*/


@media(max-width: 500px){
    .home .content-section .text-content{
        width: 100%;
        padding: 0;
    }
}
/*.home .content-section .img-content{
    width: 48%;
    padding-left: 1%
}*/
@media(max-width: 500px){
    .home .content-section .img-content {
        width: 100%;
        padding: 0;
    }
}
/*.home .content-section .img-content img{
    border-radius: 10px;
}*/
@media(max-width: 500px){
    .home .content-section .img-content img{
        width: 100%;
    }
}

/*.home .inverse-content{
    padding-bottom: 30px;
    border-bottom: 2px solid #C0C0C0;
}
.home .inverse-content .text-content{
    padding-left: 1%;
    padding-right: 0;
}*/

@media(max-width: 500px){
    .home .inverse-content .text-content {
        order: 1;
    }
}
/*.home .inverse-content .img-content {
    padding-right: 1%;
    padding-left: 0;
}*/
@media(max-width: 500px) {
    .home .inverse-content .img-content {
        order: 2;
    }
}


/*.home .content-destination{
    width: 75%;
    margin: 0 auto 30px;
}*/
@media (max-width: 500px) {
    .home .content-destination {
        width: 100%
    }
}

/*.home .content-destination img {
    border-radius: 10px;
}
.home .content-pick {
    padding-top: 30px;
    border-top: 2px solid  #4abdac;
    display: flex;
    justify-content: space-between;
}*/
@media(max-width: 500px) {
    .home .content-pick {
        flex-wrap: flex;
    }
}
/*.home .content-pick .destination{
    width: 30px;
    margin-bottom: 30px;
}



.home .content-pick .destination .btn {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 45px;
    background-color: #17A2B8;
    color: #FFFFFF;
    border: 1px solid #C0C0C0;
    cursor: pointer;
    font-size: 1.8rem;
  }*/
@media (max-width: 500px) {
    .home .content-pick .destination .btn {
        width: 100%;
    }
}
.home .content-pick .destination .btn:hover {
    background: #ffffff;
    color: #4abdac;
}



  .btn{
    border-radius: 15px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-size: 1.8rem;
    height: 45px;
    background-color: black;
    color: #FFFFFF;
    border: 1px solid #C0C0C0;
    padding-top: 10px;
  }

  .btn:hover{
      background-color: #4abdac;
  }

  img{
      border-radius: 10px;
      max-width: 70%;
      height: auto;
  }
  .intro .img{
      align-items: center;
  }

  .intro{
      padding: 50px 0 30px;
      padding-left: 90px;
      border-bottom: 2px solid #4abdac;
  }
  .content-destination img{
      padding-left: 90px;
  }

  .container{
      background: #4abdac;;
  }


.nav-container a{
    float: right;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

a:hover{
    background-color: #dddddd;
    color: white;
}


.accordion {
    background-color: #4abdac;
    border-style: groove;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }

  .active, .accordion:hover {
    background-color:#4abdac;
  }

  .panel {
    padding: 0 18px;
    background-color: #4abdac;
    display: none;
    overflow: hidden;
  }
  /*.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) 
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }*/
  

  * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding-left: 20px;
  padding-top: 40px;
  text-align: center;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color:#4abdac;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  color: black;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
    color: black;
  }

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 90%;
  right: 20%;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .active {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  